* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw;
    height: 100vh;
    background: url('/images/skydivebg.png') center no-repeat;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
